form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 24px auto;
  padding: 0 16px;
}

mat-form-field { width: 100%; }

h2, .sub-title {
  text-align: center;
}

@media (max-width: 600px) {
  form {
    margin: 16px auto;
  }
}
