:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mat-spacer {
  flex: 1 1 auto;
}

.main-content {
  flex: 1;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .mat-toolbar-row h1 {
    font-size: 1.2rem;
  }
}
